.text1{
  height:70px;
  font-size: 3em;

}

.btn1 {
  text-align: center;
  width:70px;
  height:50px;
  font-size: 1.4em;
  padding: 10px 30px;
  background-color: #d3d3d3;
  color: #000000;
  border-style: none;
}

.btn2{
  text-align: center;
  width:70px;
  height:50px;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #ffffff;
  color: #000000;
  border-style: none;

}

.btn1:hover{
  background: #a9a9a9;
}

.btn2:hover{
  background: #a9a9a9;
}
